# ENVIRONMENT
NODE_ENV = Environment you are working (development | production)

# PORT
PORT = Port you want to use (3000 | 4000 | 5000 | 8080)

# DATABASE
DATABASE_URL = URL for database conection

# AUTH
AUTH_SECRET = secret key for JWT
AUTH_EXP = the expiresIn for JWT (1d | 1h | 2d)